.HomeTableRow-Container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3vh;
    margin-bottom: 3vh;
}

.HomeTableRow-WorldName {
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.HomeTableRow-Link {
    color: black;
    text-decoration: none;
}

.HomeTableRow-Link:visited {
    color: black;
    text-decoration: none;
}

.HomeTableRow-WorldName:hover {
    color: var(--darkgrey);
}

.HomeTableRow-WorldInfo{
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--darkgrey);
}